<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qp.dao.TaskManageMapper">
    <select id="findAllTask" resultType="com.qp.pojo.Task">
        SELECT taskID,taskType,taskStatus,taskStartTime,taskAgvID,taskFinishTime FROM test1.taskmanage
    </select>
</mapper>